body {
    height: 100%;
    background-image: url('../images/checkoutimg.jpg');
    background-size: cover;
    background-position: center center; /* x & y values */
    background-repeat: no-repeat; /* image shows only once */
}

.login-content {
  width: 35%; /* 50% of the creen's width */
  margin: 100px auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.7);
}

body.signup-page .login-content {
  width: 50%;
}

.centered-text {
    text-align: center;
}